In [2]:
import pandas as pd 
lst = [54,46,46,45,244,6,76]
lstindex = ['a','b','c','d','e','f','g']
s1 = pd.Series(lst, index = lstindex)
print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
a     54
b     46
c     46
d     45
e    244
f      6
g     76
dtype: int64

In [3]:
dict = {"Name" : ["Rohan","Mohan", "Sohan"],
       "Class" :["MCA","B.Tech","Law"],
       "City" : ["Mathura", "Noida","Chd"]}
print(dict)
print("====================")
df2 = pd.DataFrame(dict)
print(type(df2))
print(df2)

{'Name': ['Rohan', 'Mohan', 'Sohan'], 'Class': ['MCA', 'B.Tech', 'Law'], 'City': ['Mathura', 'Noida', 'Chd']}
====================
<class 'pandas.core.frame.DataFrame'>
    Name   Class     City
0  Rohan     MCA  Mathura
1  Mohan  B.Tech    Noida
2  Sohan     Law      Chd

In [4]:
print(df2[["Class",'Name']])
print("===============")
print(df2[["Class",'Name']].loc[1])
print("===============")
print(df2[["Class",'Name']].loc[0:1])

    Class   Name
0     MCA  Rohan
1  B.Tech  Mohan
2     Law  Sohan
===============
Class    B.Tech
Name      Mohan
Name: 1, dtype: object
===============
    Class   Name
0     MCA  Rohan
1  B.Tech  Mohan

In [5]:
print(df2)
print(df2.info())

    Name   Class     City
0  Rohan     MCA  Mathura
1  Mohan  B.Tech    Noida
2  Sohan     Law      Chd
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Class   3 non-null      object
 2   City    3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes
None

In [8]:
import matplotlib.pyplot as mp

df4.plot(kind = 'scatter', x = 'Duration', y = 'Calories')
mp.show()

df4.plot(kind = 'scatter', x = 'Pulse', y = 'Maxpulse')
mp.show()

df4.plot(kind = 'scatter', x = 'Maxpulse', y = 'Calories')
mp.show()

df4.plot(kind = 'scatter', x = 'Duration', y = 'Pulse')
mp.show()

NameError: name 'df4' is not defined