In [5]:
import pandas as pd

def top_3_selling_products(dataframe):
    # Convert 'Date' column to datetime format
    dataframe['Date'] = pd.to_datetime(dataframe['Date'])
    
    # Extract month and year from 'Date' column
    dataframe['Month'] = dataframe['Date'].dt.month
    dataframe['Year'] = dataframe['Date'].dt.year
    
    # Group by month, year, and product, and sum the revenue
    monthly_sales = dataframe.groupby(['Year', 'Month', 'Product'])['Revenue'].sum().reset_index()
    
    top_products = pd.DataFrame()
    
    # Iterate over each month
    for year_month, group in monthly_sales.groupby(['Year', 'Month']):
        year, month = year_month
        
        # Sort the products by revenue and get the top 3
        top_3 = group.sort_values(by='Revenue', ascending=False).head(3)
        
        # Add the year and month to the top 3 products
        top_3['Year'] = year
        top_3['Month'] = month
        
        # Append to the final dataframe
        top_products = top_products.append(top_3, ignore_index=True)
    
    return top_products

# Example usage:
# Assuming 'df' is your DataFrame with columns 'Date', 'Product', and 'Revenue'
# top_3_selling_products(df)

In [4]:
import pandas as pd

# Sample DataFrame
data = {'Value': [1, None, 3, None, 5]}
df = pd.DataFrame(data)

# Function to impute missing values using linear interpolation
def interpolate_missing_values(df):
    df['Value'] = df['Value'].interpolate(method='linear')
    return df

print(interpolate_missing_values(df))

   Value
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0

In [3]:
import pandas as pd

# Sample DataFrame
data = {'Date': ['2024-01-01', '2024-01-05', '2024-02-02', '2024-02-15'],
        'Product': ['A', 'B', 'A', 'C'],
        'Revenue': [100, 200, 150, 120]}
df = pd.DataFrame(data)

# Function to transform DataFrame
def transform_dataframe(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    multi_index_df = df.groupby([df.index.year, df.index.month, 'Product']).sum().unstack()
    multi_index_df = multi_index_df.stack().reset_index().rename(columns={0: 'Revenue'}).sort_values(by='Revenue', ascending=False)  # Reset index and rename the column
    multi_index_df.columns = ['Year', 'Month', 'Product', 'Revenue']  # Added column names to the DataFrame
    return multi_index_df

print(transform_dataframe(df))

ValueError: cannot insert Date, already exists