In [1]:
import pandas as pd

data5 = {"Emp id" : ["E01","E02","E03","E04","E05"],
         "Names" : ["piku","saket","bhola","hayena", "shelly"],
         "Age" : [44,25,60,26,34,]}

data2 =  {"Emp id" : ["E01","E02","E03","E04","E07"],
         "Salary" : [45000,55000,65000,100000,90000]}
                     
df = pd.DataFrame(data5)
df2 = pd.DataFrame(data2)
# print(df)
# print()
# df2

print(pd.merge(df,df2,on = "Emp id")) # merge vo rhi h jo same h , common h

  Emp id   Names  Age  Salary
0    E01    piku   44   45000
1    E02   saket   25   55000
2    E03   bhola   60   65000
3    E04  hayena   26  100000

In [2]:
print(pd.merge(left = df,right = df2,on = "Emp id" , how = "left")) #left join left ka sarea aur right ka jo nhi h usme nan

  Emp id   Names  Age    Salary
0    E01    piku   44   45000.0
1    E02   saket   25   55000.0
2    E03   bhola   60   65000.0
3    E04  hayena   26  100000.0
4    E05  shelly   34       NaN

In [5]:
import pandas as pd

data5 = {"Emp id" : ["E01","E02","E03","E04","E05"],
         "Names" : ["piku","saket","bhola","hayena", "shelly"],
         "Age" : [44,25,60,26,34,]}

data6 = {"Emp id" : ["E01","E02","E03","E04","E07"],
         "Names" : ["pikachu","chummu","shaktiman","dhola", "shonty"],
         "Age" : [44,25,60,26,34,]}

df1 = pd.DataFrame(data5)
df2 = pd.DataFrame(data6)



print(pd.concat([df1,df2]))

  Emp id      Names  Age
0    E01       piku   44
1    E02      saket   25
2    E03      bhola   60
3    E04     hayena   26
4    E05     shelly   34
0    E01    pikachu   44
1    E02     chummu   25
2    E03  shaktiman   60
3    E04      dhola   26
4    E07     shonty   34

In [10]:
import pandas as pd

dict = {"fruits" : ["apple","falseb", "papita","sitafal"],
        "Price" : [80,500,50,48],
        "Quantity" : [10,5,15,20]
        }
df = pd.DataFrame(dict)
print(df)

df1 = df.copy()


df1.loc[0,"Price"] = 120
df1.loc[1,"Price"] = 450
df1.loc[2,"Quantity"] = 50
df1.loc[1,"Quantity"] = 150
df1.loc[3,"Quantity"] = 45

print(df1)

print(df.compare(df1,align_axis=0))

    fruits  Price  Quantity
0    apple     80        10
1   falseb    500         5
2   papita     50        15
3  sitafal     48        20
    fruits  Price  Quantity
0    apple    120        10
1   falseb    450       150
2   papita     50        50
3  sitafal     48        45
         Price  Quantity
0 self    80.0       NaN
  other  120.0       NaN
1 self   500.0       5.0
  other  450.0     150.0
2 self     NaN      15.0
  other    NaN      50.0
3 self     NaN      20.0
  other    NaN      45.0

In [ ]:
dict = {"keys" : ["kevin","john","mandy"]}

In [12]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Cathy'],
    'Math': [80, 75, 90],
    'Science': [85, 82, 88]
}
df = pd.DataFrame(data)

# Melting the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')
print(df)
print()
print(melted_df)

    Name  Math  Science
0  Alice    80       85
1    Bob    75       82
2  Cathy    90       88

    Name  Subject  Score
0  Alice     Math     80
1    Bob     Math     75
2  Cathy     Math     90
3  Alice  Science     85
4    Bob  Science     82
5  Cathy  Science     88